* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
    text-align: center;
}

.home-list {
    margin-left: 6em;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #d3ebcc;
}

.header {
    color: #7a8f74;
}

.para {
    margin: 1em 0;
}

.highlight {
    display: inline-block;
    background-color: mintcream;
}